.select-sim {
    data: "this contorls the  width size of country code selector ";
    width: 175px;
    height: 22px;
    line-height: 22px;
    vertical-align: middle;
    position: relative;
    background: white;
    border: 1px solid #ccc;
    overflow: hidden;
}

.select-sim::after {
    content: "▼";
    font-size: 0.5em;
    font-family: arial;
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translate(0, -50%);
}

.select-sim:hover::after {
    content: "";
}

.select-sim:hover {
    overflow: visible;
}

.select-sim:hover .options .option label {
    display: inline-block;
}

.select-sim:hover .options {
    background: white;
    border: 1px solid #ccc;
    position: absolute;
    top: -1px;
    left: -1px;
    width: 100%;
    height: 88px;
    overflow-y: scroll;

}

.select-sim .options .option {
    overflow: hidden;
}

.select-sim:hover .options .option {
    height: 22px;
    overflow: hidden;
}

.select-sim .options .option img {
    vertical-align: middle;
}

.select-sim .options .option label {
    display: none;
}

.select-sim .options .option input {
    width: 0;
    height: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
    float: left;
    display: inline-block;
    /* fix specific for Firefox */
    position: absolute;
    left: -10000px;
}

.select-sim .options .option input:checked+label {
    display: block;
    width: 100%;
}

.select-sim:hover .options .option input+label {
    display: block;
}

.select-sim:hover .options .option input:checked+label {
    background-color: notavailable_check the javascript;
}