.FullDetailAboutAndroidApp h1 {
  text-align: center;
}

.FullDetailAboutAndroidApp h6 {
  text-align: center;
}

.FullDetailAboutAndroidApp p {
  text-align: center;
}

.FullDetailAboutAndroidApp .groupmaker {
  text-align: center;
}

