.onlinelivetraining h1 {
  text-align: center;
}

.onlinelivetrainingimg {
  width: 80%;
  height: 90%;
}

.onlinelivetrainingButtomText {
  text-align: center;
}

.imagetext {
  text-align: left;
}

